@define-color background rgba(218, 218, 218, 1);
@define-color module rgb(32, 32, 32);
@define-color button rgba(32, 32, 32, 0.5);
@define-color button-focus rgba(5, 60, 109, 0.6);
@define-color button-hover rgba(5, 60, 109, 0.8);
@define-color border-color #ffffff;

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family:
		Ubuntu Nerd Font,
		Arial;
	font-size: 13px;
}

window#waybar {
	all: unset;
}

.modules-left {
	padding: 4px;
	margin: 5 0 0 10;
	border-radius: 12px;
	background-color: @background;
}

.modules-center {
	padding: 4px;
	margin: 5 0 0 0;
	border-radius: 12px;
	background-color: @background;
}

.modules-right {
	padding: 4px;
	margin: 5 10 0 0;
	border-radius: 12px;
	background-color: @background;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty {
	background-color: transparent;
}

window#waybar.solo {
	background-color: #ffffff;
}

window#waybar.termite {
	background-color: #3f3f3f;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

button {
	border: none;
	box-shadow: none;
}

/* you can set a style on hover for any module like this */

#workspaces button {
	padding: 0 5px;
	border-radius: 10px;
	background: transparent;
	color: #ffffff;
}

/* Hover on buttons that is not in focus*/
#workspaces button:hover {
	background: @button-hover;
}

#workspaces button.focused {
	background: @button-focus;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727d;
}

#custom-spotify,
#custom-notification,
#tray,
#custom-mullvad,
#custom-power,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#mode,
#idle_inhibitor,
#privacy,
#scratchpad {
	padding: 0 10px;
	background-color: @module;
	color: #ffffff;
	border-radius: 12px;
	border-color: @border-color;
	border-width: 0.5px;
	border-style: solid;
}

#window,
#workspaces {
	margin: 0 4px;
	border-color: @border-color;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 12px;
	background-color: @module;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery.charging,
#battery.plugged {
	color: #ffffff;
	background-color: #26a65b;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: red;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}

#temperature.critical {
	background-color: red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-mullvad.connected {
	background-color: #26a65b;
}

#custom-mullvad.disconnected {
	background-color: red;
}

#custom-mullvad.err {
	background-color: gray;
}
